*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: flower;
    font-weight: lighter;
    font-family: Minecraft, 'sans-serif';
}


body{  
    height: 100vh;
    background-color: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    
}
:root{ 
    --skin-color: linear-gradient(to left, #fcd8b4 10%, rgb(234, 195, 157)100%);
    --cap-color: linear-gradient(200deg, #47b2bc 50%,#459aa2);
}

header{
    color:rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.295);
    height: 120px;
    letter-spacing: 2.3px;
    word-spacing: 30px;
}

section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#character{
    position: relative;
}
#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #b10, #b11, #b12, #poggers {
    z-index: 3;
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left:40%;
}
#poggers{
    width: 9%;
    height: 30px;
    top: -10px;
    left: 49%;
}
#b1{
    top: 2px;
    left: 50%;
}
#b2{
    top:-6px; 
    left: 47.5%;
}
#b3{
    top:-21px; 
    left: 47.5%;
}
#b4{
    top:-18px; 
    left: 45.5%;
}
#b5{
    top:-34px; 
    left: 44.5%;
}
#b6{
    top:-20px; 
    left: 44.5%;
}
#b7{
    top: -19px; 
    left: 41.5%;
}
#b9{
    top: -9px; 
    left: 43.5%;  
}
#b10{
    top: -7px; 
    left: 39.5%;  
}
#b11{
    top: -7px; 
    left: 36.5%;  
}
#b12{
    top: -4px; 
    left: 38.5%;  
}


#head{
    width: 425px;
    height: 400px;
    background-image: var(--skin-color);
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    border-bottom: 7.5px double black;
}

#eyes-part{
    top: 155px;
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    z-index: 54;
    background-image: var(--skin-color);
}

#eyel0{
    position: absolute;
    top: -20px;
    left: 1px;
    background-color: black;
    width: 76px;
    height: 6px;
    transform: rotate(10deg); 
    border-radius: 30%; 
}

#eyel1{
    position: absolute;
    top: -25px;
    right: 1px;
    background-color: black;
    width: 75px;
    height: 6px;
    transform: rotate(-10deg);  
    border-radius: 20%; 

}
.eyes{
    height: 130%;
    width: 110px;
    background-color: rgb(255, 255, 255);
    border-radius: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
}
#eyes0{
    transform: rotate(20deg);
}
#eyes1{
    transform: rotate(-20deg);
}

#pupilas0{
    position: absolute;
    left:64px;
    top: 45px;
    width: 19px;
    height: 19px;

    border-radius: 49%;
    background-color: black;
}
#pupilas1{
    position: absolute;
    right:64px;
    top: 45px;
    width: 19px;
    height: 19px;

    border-radius: 49%;
    background-color: black;
}



#cap{
    position: absolute;
    bottom: 40%;
    background-image: var(--skin-color);
    width: 120%;
    left: -35px;
    height: 130px;
    border-radius: 50%;
    border-top: 15px solid yellow;
}

#capc{
    width: 100%;
    height: 150px;
    background-image: var(--cap-color);
}


#neck{
    position: absolute;
    bottom: -158px;
    background-color: transparent;
    width: 60%;
    height: 100px;
    border-bottom: 2px solid black;
    border-radius: 46%;
}

#mouth{ 
    position: absolute;
    background-color: transparent;
    width: 73px;
    height: 30px;
    bottom: -100px;

    border-top: 2px solid black;
    border-radius: 0 50% 0 15%;

    transform: rotate(2deg);

}

#mouthl{
    position: absolute;
    background-color: transparent;
    width: 73px;
    height: 30px;
    bottom: -05px;
    left: -10px;
    z-index: 4;

    border-top: .1px solid rgba(0, 0, 0, 0.373);
    border-radius: 10% 20% 10% 15%;

    transform: rotate(180deg);
}