*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(222, 220, 247), rgba(134, 134, 228, 0.394));
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}
:root{
    /* base */
    --base-width: 265px;
    --base-height: 105px;

    /* sun */
    --sun-width: 80px;
    --sun-height: 80px;

}

#base{
    width: var(--base-width);
    height: var(--base-height);
    border-radius: 113px 113px 113px 113px / 100px 100px 100px 100px;
    background-color: #5494cc;
    
    padding-inline: 13px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#sun{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ebbf35;

}